body{
    margin: 0;
    background: #f4f4f4;
    min-height: 100vh;
    font-family:'Poppins',sans-serif;
    position: relative;
    padding-top:40px;
}
.wave-top{

    position:absolute;

    top:0;
    left:0;

    width:100%;
    height:230px;

    background:
    linear-gradient(
    to right,
    #ff9966,
    #ff5e62,
    #5b86e5
    );

    border-bottom-left-radius:60% 25%;
    border-bottom-right-radius:60% 25%;

    z-index:-1;
}
.form-check-label{
    font-size: 14px;
    color: #555;
}
.card{
    border:none;
    border-radius:25px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    transition:0.3s;
}
.form-control{
    border-radius: 30px;
    padding: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.card:hover{
    transform:translateY(-5px);
}

button{
    transition:0.3s;
}

button:hover{
    transform:scale(1.03);
    transition: 0.3s;
}

.navbar-brand{
    font-weight:600;
    font-size:24px;
}

#message{
    font-weight:500;
}

@media(max-width:768px){

    .card{
        margin-bottom:20px;
    }

}
.btn-primary{
    background: linear-gradient(to right,#36D1DC,#5B86E5);
    border: none;
    border-radius: 30px;
}
.btn-success{
    background: linear-gradient(to right,#11998e,#38ef7d);
    border: none;
    border-radius: 30px;
}
.main-title{
    color: white;
    font-size: 60px;
}